<p id="notice"><%= notice %></p>

<h1>Poke Events</h1>
<p id='timeing'></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Land mark</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poke_events.each do |poke_event| %>
      <tr>
        <td><%= poke_event.user.trainer %></td>
        <td><%= poke_event.land_mark.name %></td>
        <td><%= poke_event.title %></td>
        <td><%= poke_event.description %></td>
        <td><%= poke_event.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $( "#timeing" ).text(new Date($.now()));
</script>

<br>

<%= link_to 'Back', root_path %>
