<div class="container py-5">
  <h1 class="text-center">
    <strong>
      <%= @poke_event.title %>
    </strong>
  </h1>

  <p class="p-5" id="desc">
    <%= @poke_event.description %>
  </p>

  <div class="row text-center">
    <p class="col-sm m-1" id="texty">
      <strong>Made by:</strong>
      <%= @poke_event.user.trainer %>
    </p>
    <p class="col-sm m-1" id="texty">
      <strong>At:</strong>
      <%= @poke_event.land_mark.name %>
    </p>
    <div class="col-sm m-1" id="texty">
      <%= link_to 'Back', root_path, :class => "btn btn-link btn-danger text-white"%>
    </div>
  </div>
</div>
