<div class="container justify-contents-center">
  <h1>
    <strong>
      <%= @poke_event.title %>
    </strong>
  </h1>
  <p>
    <%= @poke_event.description %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @poke_event.user.trainer %>
  </p>

  <p >
    <strong>Land mark:</strong>
    <%= @poke_event.land_mark.name %>
  </p>
  <%= link_to 'Back', root_path %>
</div>
