<div id="map">
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 51.243325,
          lng: -0.589844
        },
        zoom: 17
      });

      // These arrays are to call markers made from the ruby code
      var markers = [];
      var contents = [];

      <% LandMark.all.each do |mark| %>
      // Making marker
      var mark_<%= mark.id %> = new google.maps.Marker({
        map: map,
        position: {
          lat: <%= mark.lat %>,
          lng: <%= mark.long %>
        },
        <% if mark.is_gym %>
        <%= raw "icon\: {url\: \"http://maps.google.com/mapfiles/ms/icons/red-dot.png\"}" %>
        <% else %>
        <%= raw "icon\: {url\: \"http://maps.google.com/mapfiles/ms/icons/blue-dot.png\"}" %>
        <% end %>
      });
      markers.push(mark_<%= mark.id %>);

      // Making information based on the marker
      var info_<%= mark.id %> = '<div class="container">'
        + '<h4> <% if mark.is_gym %> Gym: <% else %> Pokestop: <% end %><%= mark.name %> </h4>'
        + '<div></div>'
        + '<div> <% if mark.is_gym %> <%= link_to 'Found Raid', new_spot_raid_url(land_mark_id: mark.id), class: 'btn btn-primary linky' %> <% else %> <%= link_to 'Found Poke event', new_poke_event_url(land_mark_id: mark.id), class: 'btn btn-primary linky' %> <% end %></div>'
        + '</div>';
      contents.push(info_<%= mark.id %>);

      if (contents.length > 0) {
        var display = contents[contents.length - 1];
        console.log(display);
      }

      <% end %>

      // This whole setup is to allow each marker display their own content but share the same infoWindow
      // When the infoWindow is requested when its already opened someonewhere else it will close the current
      // one and open the requested one
      function bindInfoWindow(marker, map, infowindow, content) {
          marker.addListener('click', function() {
          infowindow.setContent(content);
          infowindow.open(map, this);
        });
      }

      var infoWindow = new google.maps.InfoWindow();

      for (var i = 0; i < markers.length; i++) {
        bindInfoWindow(markers[i], map, infoWindow, contents[i]);
      }


      // Giving all the markers the ability to open the infoWindow with their content
      //for (var i = 0; i < markers.length; i++) {
      //  google.maps.event.addListener(markers[i], 'click', function () {
      //    infoWindow.setContent(contents[i - 1].toString());
      //    infoWindow.open(map, this);
      //  });
      //}

    }
  </script>
</div>

<h1>LetsGo#home</h1>
<p>Find me in app/views/lets_go/home.html.erb</p>

<!-- This is how to make only one infowindow -->
<!-- https://stackoverflow.com/questions/1875596/have-just-one-infowindow-open-in-google-maps-api-v3 -->

<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVqQXR-NMqREuqwTCTA58MmYWAa_LyOEg&callback=initMap"></script>
