<div class="container py-5 text-center" id="your-container">
  <%= image_tag("spot_raids/icon_mankey.png", :class => "py-5") %>
  <h1>Spotted Raids</h1>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pokemon</th>
      <th scope="col">Tier</th>
      <th scope="col">Leaves at</th>
      <th scope="col">Found by</th>
      <th scope="col">At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  <% @spot_raids.each do |spot_raid| %>



    <tr>
      <td><%= spot_raid.pokemon.name %></td>
      <td><%= spot_raid.tier %></td>
      <td><%= spot_raid.remaining_time.strftime("%H%M") %></td>
      <td><%= spot_raid.user.trainer %></td>
      <td><%= spot_raid.land_mark.name %></td>
      <td><%= link_to 'View', spot_raid, :class => "btn btn-link btn-primary text-white"%></td>
    </tr>

    <% end %>
  </tbody>
</table>

    <br>

    <%= link_to 'Back', root_path %>
  </div>
