<p id="notice"><%= notice %></p>

<h1>Spotted Raids</h1>

<table>
  <thead>
    <tr>
      <th>User </th>
      <th>Land mark </th>
      <th>Pokemon </th>
      <th>Leaves at</th>
      <th>Tier </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spot_raids.each do |spot_raid| %>
        <tr>
          <td><%= spot_raid.user.trainer %></td>
          <td><%= spot_raid.land_mark.name %></td>
          <td><%= spot_raid.pokemon.name %></td>
          <td><%= spot_raid.remaining_time.strftime("%H%M") %></td>
          <td><%= spot_raid.tier %></td>
          <td><%= link_to 'View', spot_raid %></td>
        </tr>
      <% end %>
  </tbody>

</table>

<br>

<%= link_to 'Back', root_path %>
