<div class="container py-5 text-center" id="your-container">
  <%= image_tag("spot_raids/icon_mankey.png", :class => "py-5") %>

  <p id="notice"><%= notice %></p>

  <h3>
    <strong>
      <%= @spot_raid.pokemon.name %>
    </strong>
  </h3>

  <p>
    <strong>Tier:</strong>
    <%= @spot_raid.tier %>
  </p>

  <p>
    <strong>Spotted by:</strong>
    <%= @spot_raid.user.trainer %>
  </p>

  <p>
    <strong>At:</strong>
    <%= @spot_raid.land_mark.name %>
  </p>

  <p>
    <strong>Leaves at:</strong>
    <%= @spot_raid.remaining_time.utc.strftime( "%H\:%M" ) %>
  </p>

  <div class="p-5">

    <% @plan_raid = PlanRaid.where("created_at >= ? and start_time >= ? and spot_raid_id = ?", Date.today, Time.new(2000, 1, 1, Time.now.strftime("%k"), Time.now.strftime("%M"), Time.now.strftime("%S")), params[:id]) %>
      <% if @plan_raid.blank? %>
        <%= link_to 'No raid plans are made currently. Make your own', new_plan_raid_url(spot_raid_id: @spot_raid.id) %>
      <% else %>
        <%= link_to 'View current raid plans', plan_raids_url(spot_raid_id: @spot_raid.id) %><br>
        <%= link_to 'Or make your own', new_plan_raid_url(spot_raid_id: @spot_raid.id) %>
      <% end %>

      <br>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
