<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @spot_raid.user.trainer %>
</p>

<p>
  <strong>Land mark:</strong>
  <%= @spot_raid.land_mark.name %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @spot_raid.pokemon.name %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @spot_raid.tier %>
</p>

<p>
  <strong>Leaves at:</strong>
  <%= @spot_raid.remaining_time.utc.strftime( "%H\:%M" ) %>
</p>

<%= link_to 'Create a raid plan', new_plan_raid_url(spot_raid_id: @spot_raid.id, pokemon_id: @spot_raid.pokemon_id) %>

<br>

<%= link_to 'Back', root_path %>
