<p id="notice"><%= notice %></p>

<h1>Land Marks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is gym</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @land_marks.each do |land_mark| %>
      <tr>
        <td><%= land_mark.name %></td>
        <td><%= land_mark.is_gym %></td>
        <td><%= land_mark.lat %></td>
        <td><%= land_mark.long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
