<div class="container py-5 text-center">
  <%= image_tag("plan_raid/icon_battle.png", :class => "py-5") %>

  <% @spot_raid = SpotRaid.where("id = ?", params[:spot_raid_id]).last %>
  <% @pokemon = Pokemon.where("id = ?", @spot_raid.pokemon_id).last %>
  <% @land_mark = LandMark.where("id = ?", @spot_raid.land_mark_id).last %>
  <h1>Plan Raids for <%= @pokemon.name %> at <%= @land_mark.name %></h1>

  <%=  %>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Organised By</th>
      <th scope="col">Starting at</th>
      <th scope="col">Going</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tbody>
      <% @plan_raids.each do |plan_raid| %>
      <% @going_to_raid = GoingToRaid.where("plan_raid_id = ?", plan_raid.id) %>
        <tr>
          <td><%= plan_raid.user.trainer %></td>
          <td><%= plan_raid.start_time.strftime("%k:%M") %></td>
          <td><%= @going_to_raid.count %></td>
          <% if @going_to_raid.where("user_id = ?", plan_raid.user_id).present? %>
            <td><strong> You are on the list </strong></td>
          <% else %>
            <td><%= link_to 'Going', new_going_to_raid_url(plan_raid_id: plan_raid.id) %></td>
          <% end %>
          <td><%= link_to 'View going list', going_to_raids_url(plan_raid_id: plan_raid.id), :class => "btn btn-link btn-primary text-white" %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <br>

  <%= link_to 'Back', root_path %>
</div>
